/* .fix_menu {
  height: 100%;
  background-color: #9eca27 !important;
  color: white !important;
  border: 0px !important;
} */
.fix_menu {
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

.fix_menu.ant-menu-item-selected {
  color: #9eca27 !important;
  background-color: white !important;
  /* background-color: #013765 !important; */
}

.menuBox {
  margin-top: 40px;
}

.fix_menu.ant-menu-item:hover {
  color: #9eca27 !important;
  background-color: white !important;
}

.menu_item {
  display: flex;
  align-items: center;
  height: 60px !important;
  line-height: 60px !important;
  border: 0px !important;
  background-color: transparent !important;
  width: 100%;
}

.menu_item_img {
  width: 22px;
  height: 22px;
  margin-right: 16px;
  /* margin-left: 40px; */
}

.menu_item_title {
  margin-left: 16px;
}