#components-layout-demo-custom-trigger .trigger {
  padding    : 0 24px;
  font-size  : 18px;
  line-height: 65px;
  cursor     : pointer;
  transition : color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height       : 32px !important;
  margin-bottom: 16px !important;
  background   : rgba(255, 255, 255, 0.3);
}

.ant-dropdown-link {
  color: black;
}

/* content  */
.site-layout .site-layout-background-top {
  background     : #fff;
  box-shadow     : 0px 2px 10px #859DB1 !important;
  z-index        : 999 !important;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  padding        : 0px 20px !important;
  height         : 65px !important;
}

.site-layout .site-layout-background-content {
  background: linear-gradient(#F8FDFE, #DFF6F4);
}

/* menu */
.ant-layout-sider {
  background: linear-gradient(#b9dfc7, #92af9d) !important;
}


.ant-menu.ant-menu-dark {
  background: #a9c9b5 !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #7EAA8D !important;
}

.ant-menu-dark .ant-menu-item:hover {
  background-color: #7EAA8D !important;
}

.ant-menu-dark .ant-menu-item {
  color: #fff !important;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-inline .ant-menu-item {
  margin: 0px !important;
}

.ant-menu-item .anticon+span {
  margin-left: 20px !important;
}